<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Activity_list</title>
<link href="__PUBLIC__/css/ul_activitys.css" rel="stylesheet" />
</head>
<body>
	<div class="ul_activitys">
		<ul>
			<li>
				<div class="aline">
					<h1>活动1</h1>
				</div>
				<div class="aline">
					<h1>参与人数</h1>
					<h2>72</h2>
				</div>
				<div class="aline">
					<h1>运动类型</h1>
					<h2>跑步</h2>
				</div>
				<div class="aline">
					<h1>离活动开始还有</h1>
					<h2>3天5小时20秒</h2>
				</div>
				<div class="aline">
					<h1>奖金</h1>
					<h2>1金币</h2>
				</div>
				<div class="aline">
					<h1>团队pk赛</h1>
				</div>
			</li>		
			<li>
				<div class="aline">
					<h1>活动2</h1>
				</div>
				<div class="aline">
					<h1>参与人数</h1>
					<h2>30</h2>
				</div>
				<div class="aline">
					<h1>运动类型</h1>
					<h2>跑步</h2>
				</div>
				<div class="aline">
					<h1>离活动开始还有</h1>
					<h2>1天5小时20秒</h2>
				</div>
				<div class="aline">
					<h1>奖金</h1>
					<h2>0金币</h2>
				</div>
				<div class="aline">
					<h1>单人pk赛</h1>
				</div>
			</li>
			<li>
				<div class="aline">
					<h1>活动3</h1>
				</div>
				<div class="aline">
					<h1>参与人数</h1>
					<h2>30</h2>
				</div>
				<div class="aline">
					<h1>运动类型</h1>
					<h2>跑步</h2>
				</div>
				<div class="aline">
					<h1>离活动开始还有</h1>
					<h2>1天5小时20秒</h2>
				</div>
				<div class="aline">
					<h1>奖金</h1>
					<h2>0金币</h2>
				</div>
				<div class="aline">
					<h1>单人pk赛</h1>
				</div>
			</li>			
			<li>
				<div class="aline">
					<h1>活动4</h1>
				</div>
				<div class="aline">
					<h1>参与人数</h1>
					<h2>30</h2>
				</div>
				<div class="aline">
					<h1>运动类型</h1>
					<h2>跑步</h2>
				</div>
				<div class="aline">
					<h1>离活动开始还有</h1>
					<h2>1天5小时20秒</h2>
				</div>
				<div class="aline">
					<h1>奖金</h1>
					<h2>0金币</h2>
				</div>
				<div class="aline">
					<h1>单人pk赛</h1>
				</div>
			</li>							
		</ul>
	</div>
</body>
</html>