<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Friend_list</title>
<link href="__PUBLIC__/css/table.css" rel="stylesheet" />
</head>
<body>
	<table width="90%" class="table"> 
		<tr> 
			<th>昵称</th> 
			<th>性别</th>
			<th>年龄</th>
			<th>备注</th>
		</tr> 
		<tr> 
			<td>wuzirui</td> 
			<td>男</td> 
			<td>22</td> 
			<td>1</td> 
		</tr> 
		<tr class="alter"> 
			<td>wuzisai</td> 
			<td>男</td> 
			<td>20</td> 
			<td>1</td> 
		</tr> 
		<tr> 
			<td>a</td> 
			<td>女</td> 
			<td>22</td> 
			<td>2</td> 
		</tr>
		<tr class="alter"> 
			<td>b</td> 
			<td>女</td> 
			<td>20</td> 
			<td>2</td> 
		</tr> 
				<tr> 
			<td>c</td> 
			<td>女</td> 
			<td>22</td> 
			<td>2</td> 
		</tr>
		<tr class="alter"> 
			<td>d</td> 
			<td>男</td> 
			<td>20</td> 
			<td>2</td> 
		</tr> 
				<tr> 
			<td>e</td> 
			<td>女</td> 
			<td>22</td> 
			<td>2</td> 
		</tr>
		<tr class="alter"> 
			<td>f</td> 
			<td>男</td> 
			<td>20</td> 
			<td>2</td> 
		</tr> 
				<tr> 
			<td>g</td> 
			<td>女</td> 
			<td>22</td> 
			<td>2</td> 
		</tr>
		<tr class="alter"> 
			<td>h</td> 
			<td>男</td> 
			<td>20</td> 
			<td>2</td> 
		</tr> 
				<tr> 
			<td>i</td> 
			<td>女</td> 
			<td>22</td> 
			<td>2</td> 
		</tr>
		<tr class="alter"> 
			<td>j</td> 
			<td>女</td> 
			<td>20</td> 
			<td>2</td> 
		</tr> 
	</table> 

</body>
</html>
